extends partials/mainLayout

block content

  section.section
    .container
      .row
        .col-md-12
          p Hola
            

      

block scripts

  script.
    $(document).ready(function(){

      // Init Background
      addBg('.section-background'); 

    }) // Ready

        
