extends partials/mainLayout

block content

  header.header
    .container
      .main-icon
        svg
          use(xlink:href='assets/img/symbols.svg#main-logo')
        h1.big-title.text--truncate
          span.color-pink Sass
          | isfaction
        p.copy awesome
          span.color-pink re
          | s
          span.color-pink our
          | c
          span.color-pink e
          | ss
  
  input(type='checkbox')#input-layout
  label.items-layout(for='input-layout')
    svg.layout-th
      use(xlink:href='assets/img/symbols.svg#icon-th')
    svg.layout-list
      use(xlink:href='assets/img/symbols.svg#icon-list')
  
  section.section#items.row
    .container
      .items
        .items__item.half.fake
          a(href='#0').item-image 
            svg.alt-logo
              use(xlink:href='assets/img/symbols.svg#alt-logo')
          .item-content
            h3.item-title  
              a(href='#0') Title
            p.item-desc Lorem ipsum dolor sit amet, consectetur adipisicing.
            .item-meta
              .item-tags
                button tag

        .items__item.half.fake
          a(href='#0').item-image 
            svg.alt-logo
              use(xlink:href='assets/img/symbols.svg#alt-logo')
          .item-content
            h3.item-title  
              a(href='#0') Title
            p.item-desc  Porro odit animi maiores magnam et quisquam delectus ipsam ratione.
            .item-meta
              .item-tags
                button tag

        .items__item.half.fake
          a(href='#0').item-image 
            svg.alt-logo
              use(xlink:href='assets/img/symbols.svg#alt-logo')
          .item-content
            h3.item-title  
              a(href='#0') Title
            p.item-desc  Eveniet quos asperiores, optio amet consectetur delectus fugit, officia ut.
            .item-meta
              .item-tags
                button tag
        
  footer.footer
    p Made with 
      span ❤ 
      |  and React by 
      a(href='https://twitter.com/elrumordelaluz') elrumordelaluz 
    p 
      a(href='https://github.com/elrumordelaluz/Sassisfaction/blob/gh-pages/sassisfaction.json') 
        span Submit Resources 
      | or 
      a(href='https://github.com/elrumordelaluz/Sassisfaction/issues') Issues


      

block scripts
  script.

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55167683-4', 'auto');
    ga('send', 'pageview');
    
    var docElem = window.document.documentElement;
    
    function scrollY() {
      return window.pageYOffset || docElem.scrollTop;
    }

    document.addEventListener("DOMContentLoaded", function() {
      
      peScrollChange.init({
        elem: '.header',
        trigger: 300,
        classesToChange: 'top'
      })
      
      
      var header = document.querySelector('.header');

      window.addEventListener('scroll', function(){
        var opacityValue;
        opacityValue = 1 - scrollY() / 315;
        
        if(!header.classList.contains('top')) {
          document.querySelector('.main-icon').style.opacity = opacityValue;
        } else {
          document.querySelector('.main-icon').style.opacity = 1;
        }
        
      }, false);

    });
    

        
