doctype
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    title Sassisfaction :: Awesome Sass Resources
    link(rel="shortcut icon", href="assets/img/favicon.ico")
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500',rel='stylesheet',type='text/css')
    
    link(rel='stylesheet', href='assets/css/style.css')
  body

    block content

    script(type='text/javascript', src='assets/js/pe-scrollchange.min.js')
    script(type='text/javascript', src='assets/js/main.min.js')

    block scripts


