doctype
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    title Sassisfaction :: Awesome resources
    link(rel='icon', type='image/png', sizes='32x32', href='img/favicon.png') 
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500',rel='stylesheet',type='text/css')
    
    link(rel='stylesheet', href='assets/css/style.css')
  body

    block content

    // Livereload Script -- remove on production
    script.
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    
    script(type='text/javascript', src='assets/js/pe-scrollchange.min.js')
    script(type='text/javascript', src='assets/js/main.js')

    block scripts


