








// ---------------
//  Spacing Helpers Stuff 
// ---------------



$max: 5;
$const : .5rem; // i.e 1:5px, 2:10px, 3:20px, 4:40px based on bootstrap initialization html

@for $i from 0 through $max {
  
  $value : pow(2, $i - 1) * $const;

  @if($i > 0){

    // Margin
    .m#{$i} { 
      margin: $value; 
    }

    .mt#{$i} { 
      margin-top: $value; 
    }

    .mr#{$i} { margin-right:  $value; }
    .mb#{$i}  { margin-bottom: $value; }
    .ml#{$i}  { margin-left:   $value; }
    
    // Negative x Margin
    .mxn#{$i} { margin-left:   -$value; }

    // Padding
    .p#{$i}   { padding:      $value; }
    .py#{$i}  { padding-top:  $value; padding-bottom:   $value; }
    .px#{$i}  { padding-left: $value; padding-right:    $value; }

    .p#{$i}   { padding:        $value; }
    .pt#{$i}  { padding-top:    $value; }   
    .pr#{$i}  { padding-right:  $value; }   
    .pb#{$i}  { padding-bottom: $value; }   
    .pl#{$i}  { padding-left:   $value; }

    // Overrides
    .mt-#{$i*5} { margin-top: $i*5px; }
    .mr-#{$i*5} { margin-right: $i*5px; }
    .mb-#{$i*5} { margin-bottom: $i*5px; }
    .ml-#{$i*5} { margin-left: $i*5px; }


  } @else {
    .m#{$i}   { margin:        0 }
    .mt#{$i}  { margin-top:    0 }  
    .mr#{$i}  { margin-right:  0 }  
    .mb#{$i}  { margin-bottom: 0 }  
    .ml#{$i}  { margin-left:   0 }  

    .p#{$i}   { padding:        0 }
    .pt#{$i}  { padding-top:    0 }   
    .pr#{$i}  { padding-right:  0 }   
    .pb#{$i}  { padding-bottom: 0 }   
    .pl#{$i}  { padding-left:   0 }   
  } // @if

  @if( $i > 4 ){
    @media (max-width: 768px) {
      
      .px#{$i}  { padding-left: 2rem; padding-right: 2rem; }

    }
  }

} // @for



@for $i from 1 through 11 {
  .mt-#{$i*10} { margin-top: $i*10px;}
  .mb-#{$i*10} { margin-bottom: $i*10px;}
  .pt-#{$i*10} { padding-top: $i*10px;}
  .pb-#{$i*10} { padding-bottom: $i*10px;}
}







// ---------------
//  Loading Stuff 
// ---------------


#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($dark,.94);
  z-index: 9999;
  top: 0;
  left: 0;
  transition: opacity .5s;
  &.loaded {
    opacity: 0;
    .loader { transform:translate(-50%,-100%); }
  }

  .loader {
    width: 5vw;
    padding: .3vw;
    position: absolute;
    left: 50%; top: 50%;
    transform:translate(-50%,-50%);
    transition: transform .5s;
    * { 
      animation: dash-fade-in 2s cubic-bezier(0.6,0,0.4,1) alternate infinite forwards; 
      fill-opacity:0; stroke-dasharray: 3000; stroke-dashoffset: 3000;
      stroke:#EFD644;
    }
  }
}



@keyframes dash-fade-in {
  50% { 
    fill-opacity:0;
    stroke-opacity: 1; 
  }
  100% {
    stroke-opacity: 0; 
    fill-opacity:1;
    stroke-dashoffset: 0;
  }
}
