// Color variables
$light: #f0f0f0;
$dark: #666766;
$pink: #c69;
$white: #fff;
$yellow: #efd645;
$green: #92e1b2;
$red: #ff4e57;

// Colors list
$colors: 
  'red' $red,
  'pink' $pink,
  'yellow' $yellow,
  'green' $green,
  'dark' $dark;

// Create a new list based on $colors for Components

$color-list:();
@for $i from 1 through length($colors) {
  $color-list: append($color-list, '.btn-' + nth(nth($colors, $i), 1));
}

$intial-fz: 22px;

$container-width: 960px;


